{#<link media="screen" rel="stylesheet" type="text/css"
    href="{{ swagger_static('css/typography.css') }}" />
<link media="screen" rel="stylesheet" type="text/css"
    href="{{ swagger_static('css/reset.css') }}" />
<link media="screen" rel="stylesheet" type="text/css"
    href="{{ swagger_static('css/screen.css') }}" />
<link media="print" rel="stylesheet" type="text/css"
    href="{{ swagger_static('css/reset.css') }}"/>
<link media="print" rel="stylesheet" type="text/css"
    href="{{ swagger_static('css/screen.css') }}" />
#}
<link media="screen" rel="stylesheet" type="text/css" href="{{ swagger_static('droid-sans.css') }}" />
<link media="screen" rel="stylesheet" type="text/css" href="{{ swagger_static('swagger-ui.css') }}" />
<style>
html
{
  box-sizing: border-box;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}
*,
*:before,
*:after
{
  box-sizing: inherit;
}

body {
  margin:0;
  background: #151010 url('/swaggerui/background.png') no-repeat fixed center;
}

.swagger-ui .scheme-container {
  background: hsla(0, 0%, 0%, 0);
}
</style>
